<?php

$cfg_sql_url = 'mysql:host=localhost;dbname=mydb';
$cfg_sql_user = 'user';
$cfg_sql_pass = 'pass';

$cfg_core_endpoint = 'https://core.braveineve.com/api';

$cfg_url_base = 'https://wiki.example.com';
$cfg_url_login = $cfg_url_base . '?do=login';

$cfg_url_auth_init = $cfg_url_base . '/lib/plugins/authbrave/core_init.php';
$cfg_url_auth_success = $cfg_url_base . '/lib/plugins/authbrave/core_success.php';
$cfg_url_auth_fail = $cfg_url_login;

$cfg_core_application_id = '';
$cfg_core_public_key = '';
$cfg_core_private_key = '';

$cfg_cookie_name = 'braveauth';
$cfg_cookie_https_only = true;

$cfg_expire_session = (60 * 60 * 24 * 1);

?>
